.card-body {
    padding: 0;
    margin: 1rem 1rem;
    max-height: 100%;
    overflow: hidden;
}

.challenge-card {
    margin: 20px;
    height: 150px;
    width: 300px;
    cursor: pointer;
    overflow: hidden;
}

.challenge-description {
    text-overflow: ellipsis;
    overflow: hidden;
}